---
import { TodoList } from "../components/react/todo-list";
import Layout from "../layouts/Layout.astro";
import "../styles/todo-list.css";
---

<Layout title="Freestyle.sh Project">
  <main>
    <TodoList client:load />
  </main>
</Layout>
